spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/parent_auth_db
    username: parent_auth_user
    password: parent_auth_pass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false

  flyway:
    enabled: false

  main:
    banner-mode: "off"

  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.servlet.SecurityAutoConfiguration
      - org.springframework.boot.actuate.autoconfigure.security.servlet.ManagementWebSecurityAutoConfiguration

logging:
  level:
    root: INFO

server:
  port: 8081
