apiVersion: v1
kind: Service
metadata:
  name: parent-auth-service
  namespace: default
spec:
  type: ClusterIP
  selector:
    app: parent-auth-service
  ports:
    - name: http
      port: 80
      targetPort: 8081
      protocol: TCP
